.menu-item.svelte-18l9664 {
	border: 3px solid #46a29f;
}
span.svelte-18l9664 {
	background: #46a29f;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	color: #fff;
	cursor: pointer;
	line-height: 1.5em;
	margin-right: 4px;
	padding: 1em;
}
